footer.b-footer(style={'display':'flex', 'align-items':'center', 'justify-content':'center', 'padding':'20px 0', 'border-top':'1px solid #ddd', 'height':'50px', 'box-sizing':'border-box'})
    p.b-footer__copy(style={'font-size':'12px', 'text-align':'center', 'margin':'0', 'padding':'0 20px'}) This template was created for fast developing statis web-sites